* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f3f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 125%;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #202124;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #202124;
}

input[type="text"], input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #dadce0;
    border-radius: 4px;
    font-size: 14px;
    color: #202124;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #1a73e8;
    border: none;
    color: white;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #135bb5;
}

#result_js {
    margin-top: 20px;
    color: #202124;
    font-size: 14px;
}
